$blue-light: #8dc6e8;
$blue-dark:  #1b4062;

body {
  font-family: Avenir;
  background: $blue-dark;
  color: $blue-light;
}

.trophy {
  margin: 25px auto;
  height: 60vmin;
  width: 60vmin;
  text-align: center;
  position: relative;
  .figure {
    height: 100%;
  }
  .title {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    animation-duration: 2.2s;
  }
}

.table-of-contents {
  display: flex;
  flex-wrap: wrap;
}

.toc-staffer {
  height: 12.5vmin;
  width: 12.5vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  img {

    // margin: 1vmin;
    height: 10vmin;
    border-radius: 100%;
    transition: 100ms;
    &:hover {
      height: 15vmin;
      // position: relative;
      // top: -2.5vmin;
      // left: -2.5vmin;
      cursor: pointer;
    }
  }
}

.staffer-face {
  .seal-container {
    height: 65vmin;
    width: 65vmin;
    position: absolute;
    z-index: 100;
    animation-delay: 0.5s;
  }
  .seal {
    height: 100%;
    width: 100%;
    animation-name: spin;
    animation-duration: 10s;
    animation-timing-function: linear;
  }
  .face {
    height: 40vmin;
    width: 40vmin;
    margin: 12.5vmin;
    position: relative;
    z-index: 50;
  }
}

@keyframes spin {
  from { transform: rotate(0deg); };
  to { transform: rotate(360deg); };
}
