$blue-light: #8dc6e8;
$blue-dark:  #1b4062;

@keyframes spin {
  from { transform: rotate(0deg); };
  to { transform: rotate(360deg); };
}

@keyframes waves {
  0% { transform: translateX(0) scaleY(1); };
  50% { transform: translateX(-25%) scaleY(.5); };
  100% { transform: translateX(-50%) scaleY(1); };
}

body {
  font-family: Avenir;
  background: $blue-dark;
  color: $blue-light;
}

.header {
  height: 100vh;
}

.trophy {
  margin: 25px auto;
  height: 60vmin;
  width: 60vmin;
  text-align: center;
  position: relative;
  .figure {
    height: 100%;
  }
  .title {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    animation-duration: 2.2s;
  }
}

.table-of-contents {
  display: flex;
  flex-wrap: wrap;
}

.toc-staffer {
  height: 12.5vmin;
  width: 12.5vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    // margin: 1vmin;
    height: 10vmin;
    border-radius: 100%;
    transition: 100ms;
    &:hover {
      height: 15vmin;
      // position: relative;
      // top: -2.5vmin;
      // left: -2.5vmin;
      cursor: pointer;
    }
  }
}

.staffer-face {
  .seal-container {
    height: 65vmin;
    width: 65vmin;
    position: absolute;
    z-index: 100;
    animation-delay: 0.5s;
    overflow: hidden;
  }
  .seal {
    height: 100%;
    width: 100%;
    animation-name: spin;
    animation-duration: 10s;
    animation-timing-function: linear;
  }
  .face {
    height: 40vmin;
    width: 40vmin;
    margin: 12.5vmin;
    position: relative;
    z-index: 50;
  }
}

.staffer-container {
  height: 75vh;
  // padding-top: 145px;
  // background-size: 100vw 150px;
  // background-repeat: no-repeat;
  &.light {
    // background-image: url("/assets/wave-1.png");
    .award {
      color: $blue-dark;
    }
  }
  &.dark {
    // background-image: url("/assets/wave-2.png");
    .award {
      color: white;
    }
  }
  .staffer {
    height: 100%;
    &.light {
      background-color: white;
    }
    &.dark {
      background-color: transparent;
    }
  }
  .name {
    font-weight: 900;
    font-size: 10vmin;
  }
  .award {
    font-size: 5vmin;
  }
}

.waves {
  position: relative;
  height: 95px;
  width: 100vw;
  overflow: hidden;
}

.wave {
  height: 100px;
  width: 200vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: 50% 100px;
  background-repeat: repeat-x;
  background-position-y: bottom;
  animation-name: waves;
  animation-duration: 8s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  transform-origin: center bottom;
  animation-timing-function: linear;
  &.light {
    background-image: url("/assets/wave-white.png");
    z-index: 100;
  }
  &.dark {
    background-image: url("/assets/wave-dark.png");
    z-index: 100;
  }
  &.middle {
    background-image: url("/assets/wave-middle.png");
    animation-duration: 13s;
    z-index: 50;
  }
  // &.middle.dark {
  //   background-image: url("/assets/wave-middle-dark.png");
  // }
}

.icon {
  position: absolute;
  img {
    height: 50px;
  }
}

