$blue-light: #8dc6e8;
$blue-dark:  #1b4062;

body {
  font-family: Avenir;
  background: $blue-dark;
  color: $blue-light;
}

.trophy {
  margin: 25px auto;
  height: 60vmin;
  width: 60vmin;
  text-align: center;
  position: relative;
  .figure {
    height: 100%;
  }
  .title {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    animation-duration: 2.2s;
  }
}

.table-of-contents {
  display: flex;
  flex-wrap: wrap;
}

.toc-staffer {
  height: 12.5vmin;
  width: 12.5vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  img {

    // margin: 1vmin;
    height: 10vmin;
    border-radius: 100%;
    transition: 100ms;
    &:hover {
      height: 15vmin;
      // position: relative;
      // top: -2.5vmin;
      // left: -2.5vmin;
      cursor: pointer;
    }
  }
}

.staffer-face {
  .face {
    height: 50vmin;
    width: 50vmin;
  }
  .seal {
    height: 75vmin;
    width: 75vmin;
    position: absolute;
  }
}