<div class="app">
  <div class="header full-screen">
    <h1>Welcome to the...</h1>
    <div class="trophy animated fadeIn">
      <img class="figure animated infinite pulse slow" src="./assets/trophy-body.png" alt="">
      <img class="title animated infinite pulse slow" src="./assets/trophy-title.png" alt="">
    </div>
    <h5>Presented by Olivia Sabo-Rush</h5>
  </div>
  <div class="table-of-contents container">
    <toc staffers="app.awards" />
  </div>

  <staffer ng-repeat="staffer in app.awards" details="staffer" index="$index" />
</div>
