<div ng-class="staffer.style" class="staffer-container">
  <div ng-attr-id="{{staffer.details.nameFirst}}-{{staffer.details.nameLast}}"></div>
  <div class="waves p-relative">
    <div class="wave" ng-class="staffer.style"></div>
    <div class="wave middle" ng-class="staffer.style"></div>
    <!-- <div class="wave middle opacity"></div> -->
  </div>
  <div ng-class="staffer.style" class="staffer">
    <div class="container">
      <div class="row h-100">
        <icon name="icon" ng-repeat="icon in staffer.details.emojis"></icon>
        <!-- TODO: Add logic to switch left/right sides based on theme -->
        <!-- In XS mode it still has to be able to have the face on top -->
        <div class="col-12 col-md-6 d-flex align-items-center justify-content-center" ng-class="staffer.photoOrder">
          <face staffer="staffer.details" theme="staffer.style" />
        </div>
        <div class="col-12 col-md-6 text-center d-flex align-items-center justify-content-center flex-column" ng-class="staffer.textOrder">
          <h1 class="name">{{staffer.details.nameFirst}} {{staffer.details.nameLast}}</h1>
          <h2 class="award">{{staffer.details.award}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>