<div class="table-of-contents-container hidden">
  <div class="table-of-contents">
    <h2 class="strong">Table of Contents</h2>
    <div class="staffers">
      <toc-staffer ng-repeat="staffer in toc.staffers" first="staffer.nameFirst" last="staffer.nameLast" />
    </div>
    <div class="credits text-center">
      <p>
        Presented by
        <a href="http://pafiu.me" target="_blank" title="Pafiume">
          <span class="strong">Olivia Sabo-Rush</span>
        </a>
      </p>
      <p>
        Icons made by <a href="https://www.freepik.com" target="_blank" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"
          target="_blank" title="Flaticon">www.flaticon.com</a>
      </p>
    </div>
  </div>
</div>